body {
    background-color: rgb(70, 73, 75);
}

h1 {
    color: rgb(187, 187, 187);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
    color: rgb(187, 187, 187);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}